* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100%;
    margin: 0;
  }
  
  body {
    align-items: center;
    text-align: center;
  
    background-color: #030000;
  }
  
  h1 {
    margin-top: 100px;
    font-size: 54px;
  
    color: tomato;
  }
  
  .timer {
    margin: 0 auto;
    text-align: center;
  
    color: #333;
  }
  
  .field {
    display: inline-block;
  
    padding: 1em;
  
    font-size: 1.5em;
    list-style-type: none;
    text-transform: uppercase;
  }
  
  .value {
    display: block;
  
    font-size: 4.5rem;
  }
  #timer-1{
      font-size: 35px;
      color: rgb(255, 251, 0);
      font-style: italic;
      padding-top: 50px;
  }
  